{%extends "base.html.twig" %}


{% block title %}
	Modificarion de
	{{category.name}}
{% endblock %}
{% block body %}
	<h1>Modifier
		{{category.name}}</h1>
        {{form_start(formView)}}
	{{form_widget(formView)}}
    <br>
	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>	
       
       Modifier
	</button>
{% endblock %}
